fotter.footer 
    .footer__logo
        img(src='img/logo-green.png' alt='Natour logo')
    ul.footer__nav
        li: a(href'#') About us
        li: a(href'#') Downloads apps
        li: a(href'#') Become a guide
        li: a(href'#') Careers
        li: a(href'#') Contact
    p.footer__copyright &copy; Lorem ipsum dolor sit amet consectetur adipisicing elit. Est similique impedit dolores aut ducimus, libero perspiciatis dignissimos at neque modi.